@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'poppins',sans-serif;
}

.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #616161;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.25;
}

.banner .content{
    position: relative;
    max-width: 750px;
    text-align: center;
}

.banner .content h2{
    color:#fff;
    font-size: 60px;
}

.banner .content p{
    color:#fff;
    font-size: 18px;
}

.banner header{
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between  ;
    align-items: center;
    z-index: 200;
}

nav{
    position: fixed;
    z-index: 400;
    background: #455a64;
    height: 80px;
    width: 100%;
  }
  label.logo{
    color: #f2f2f2;
    font-size: 33px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
  }
  nav ul{
    float: right;
    margin-right: 60px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 2px;
  }
  nav ul li a{
    transition: 0.5s;
    color: #f2f2f2;
    font-weight: 500;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase; 
    font-family: 'Poppins', sans-serif;
  }
  nav ul li a:hover{
      transition:0.5s;
      border: solid #fff 1px;
      letter-spacing: 3px;
  }

  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 991px){
    label.logo{
      font-size: 27px;
      padding-left: 25px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  

.about{
    position: relative;
    width: 100%;
    display: flex;
}

.about .contentBx{
    padding: 100px;
    background: #1c313a;
    width: 50%;
}

.heading{
    color:#fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.text{
    color:#fff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}

.about .imgBx{
    background: url(biro.jpg);
    width: 50%;
    background-size: cover;
    background-position: center;
}

.services{
    padding: 100px;
    text-align: center;
    background: #12222d;
}

.services .container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.services .container .serviceBx{
    border-radius: 50%;
    position: relative;
    background: #fff;
    width: 350px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services .container .serviceBx img{
    max-width: 100px;
}

.services .container .serviceBx h2{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
}

.tech{
    background: #ec407a;
    width: 100%;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 300px;
    margin-top: -300px;
}

.tech .contentBx{
    max-width: 800px;
}

.tech .imgBx{
    max-width: 250px;
}

.tech .imgBx img{
    max-width: 100%;
}

.client{
    background: #162c3b;
    padding: 100px;
    text-align: center;
}

.client .imgBx{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.client .imgBx img{
    max-width: 200px;
    margin: 20px;
    opacity: 0.25;
    cursor: pointer;
}

.client .imgBx img:hover{
    opacity: 1;
}

.contact{
    padding: 100px;
    background: #212121;
    text-align: center;
}

.imgBx2{
    background: url(mail.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
}

.redBg{
    background: url(red.jpg)!important;
    background-size: cover;
    background-position: center; 
}

.form .inputBx{
    margin-bottom: 40px;
}

.form .inputBx input{
    width: 100%;
    background: transparent;
    box-shadow: none;
    border:none;
    outline: none;
    padding:10px 0;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    border-bottom: 2px solid #fff;
}

.form .inputBx input::placeholder{
    color: #fff;
}

.form .inputBx textarea{
    width: 100%;
    background: transparent;
    box-shadow: none;
    border:none;
    outline: none;
    padding:10px 0;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    min-height: 150px   ;
    border-bottom: 2px solid #fff;
}

.form .inputBx textarea::placeholder{
    color: #fff;
}

.form .inputBx input[type = "submit"]{
    width: 150px;
    background: #fff;
    color: #111;
    cursor: pointer;
    font-weight: 400;
}

.footer{
    background: #162c3b;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer ul li{
    list-style: none;
}

.footer ul li a{
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
}

.footer ul li a img{
    filter: invert(1);
    max-width: 20px;
}

.menu{
    transform: translateX(-35%);
    margin-top: 75px;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: none;
    text-align: center;
    z-index: 100;

}

.menu a{
    text-transform: uppercase;
    transition: 0.5s;
    font-size: 1.25em;
    color: #fff;
    padding: 10px;
    text-decoration: none;
}

.menu a:hover{
    border: solid #fff 1px;
    background: transparent;
    transition: 0.5s;
    letter-spacing: 2px;
}


@media (max-width: 991px){
    .banner{
        padding: 50px;
    }
    .banner .content h2{
        font-size: 36px;
    }
    .banner .content p{
        font-size: 16px;
    }
    .about{
        flex-direction: column;
    }
    .about .contentBx,.about .imgBx{
        width: 100%;
        padding: 50px;
        min-height: 400px;
        text-align: center;
    }
    .services{
        padding: 50px;
    }
    .services .container{
        justify-content: center;
        margin-top: 20px;
    }
    .services .container .serviceBx{
        margin: 20px;
        width: 300px;
        height: 350px;
    }
    .tech{
        padding: 50px;
        padding-top: 300px;
        justify-content: center;
        flex-direction: column;
    }
    .tech .imgBx{
        margin-top: 40px;
        max-width: 250px;
    }
    .client{
        padding: 50px;
    }
    .client .imgBx{
        justify-content: center;
    }
    .contact{
        padding: 50px;
    }
    .footer{
        padding: 20px 50px;
        flex-direction: column-reverse;
        text-align: center;
    }
    .footer ul{
        margin-bottom: 20px;
    }
    .menu{
        transform: translateX(-32%);
        margin-top: 50px;
    }
    .menu a{
        font-size: 16px;
    }
}
@media (max-width: 991px){
    label.logo{
      font-size: 21px;
      padding-left: 25px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 991px){
    .checkbtn{
      display: block;
      margin-right: 40px;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #1b3039;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
